*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root{
  --teal: teal;
  --gold: #b8c807;
  --dark: #2d2c2c;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

.main{
  margin-left: 16%;
  padding: 5rem 2rem 1rem 2rem;
}

.btn{
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  background: var(--teal);
  color: white;
}

.ratings{
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.star{
  color: var(--gold);
}

@media screen and (max-width: 1200px) {
  .main{
    margin-left: 20%;
  }
}

@media screen and (max-width: 700px) {
  .main{
    margin-left: 0;
  }

  .btn{
    padding: 0.5rem 0.7rem;
  }
}